{% extends "index.html" %}
{% block title %} Reset your password {% endblock %}

{% block content %}
<form action="/resetpassword/" method="post">
    {% csrf_token %}
    <input type="hidden" name="id" value="{{userid}}">
    <div class="inputs">
        <label>Enter your new password</label>
        <input type="password" name="one" required>
    </div>
    <div class="inputs">
        <label>Confirm your new password</label>
        <input type="password" name="two" required>
    </div>
    <div class="inputs">
        <button class="dark-mode-button" type="submit">Change password</button>
    </div>
</form>
{% endblock %}